@layer override {
    .file-list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .file-row {
        display: grid;
        grid-template-columns: 2rem 2rem 1fr;
        align-content: center;
        max-width: 95vw;
    }

    .file-row > div > a {
        color: var(--font-color);
    }

    drop-down {
        margin-top: 1rem;
    }

    .action-buttons > button {
        cursor: pointer;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 0.3rem;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
    }

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }

    .checkmark {
        height: 15px;
        width: 15px;
        background-color: #e2e8f0;
        border: 2px solid #94a3b8;
        border-radius: 4px;
        position: relative;
        margin-right: 0.5rem;
    }

    .checkmark:after {
        content: '';
        position: absolute;
        display: none;
    }

    .checkbox-container > input:checked ~ .checkmark {
        background-color: #3b82f6;
        border-color: #3b82f6;
    }

    .checkbox-container > input:checked ~ .checkmark:after {
        display: block;
    }

    .checkbox-container > .checkmark:after {
        left: 5px;
        top: 1px;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}
