@layer override {
    .file-list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .file-row {
        display: grid;
        grid-template-columns: 2rem 2rem 1fr;
        align-content: center;
        max-width: 95vw;
    }

    .file-row > div > a {
        color: var(--font-color);
    }

    drop-down {
        margin-top: 1rem;
    }

    .action-buttons > button {
        cursor: pointer;
    }
}
