@layer override {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;

        gap: 1rem;
        padding-right: 1rem;
    }

    file-card {
        flex: 0 0 var(--file-card-max-width);
    }
}
