@layer main {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header > a,
    .header > header-tab {
        color: var(--font-color);
        font-size: 16px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        line-height: 16px;
    }

    .header > .main-link {
        font-weight: 800;
        font-size: 26px;
        line-height: 26px;
        padding-left: 0.5rem;
        padding-right: 1rem;
    }

    .header > header-nav-select {
        display: none;
    }
}
