:root {
    --background-color: rgb(33, 37, 41);
    --icon-color: #e3e3e3;
    --font-color: #f6f6f6;
    --font-size: 16px;
    --disabled-opacity: 0.4;

    --small-screen-breakpoint: 768px;
    --medium-screen-breakpoint: 1476px;
}
