@media (min-width: 1477px) {
    @layer main {
        :root {
            --file-grid-columns: repeat(8, 1fr);
            --file-card-max-width: 11.5rem;
            --file-card-max-height: 10rem;
        }
    }
}
