@media (min-width: 624px) and (max-width: 840px) {
    @layer main {
        :root {
            --file-card-max-width: 11.5rem;
            --file-card-max-height: 10rem;

            --thumbnail-hover-max-width: 7.5rem;
        }
    }
}
