<!DOCTYPE html>
<html>
    <head>
        <!-- include ./favicon.html -->
        <!-- include ./meta.html -->
        <!-- include ./styles.html -->
        <!-- include ./preload.html -->
    </head>
    <body>
        <!-- include ./js-utils.html -->
        <!-- include ./megaphone-js.html -->
        <!-- include ./header/header.html -->
        <!-- slot -->
        <footer style="height: 12rem"></footer>
        <!-- include ./js-libs.html -->
        <!-- include ./base.personal.html -->
        <!-- include ./megaphone-js-autoinit.html -->
    </body>
</html>
