<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <!-- include ./favicon.html -->
        <!-- include ./meta.html -->
        <link href="/static/bootstrap.min.css" rel="stylesheet" />
        <!-- include /global-styling/index.partial.html -->
    </head>
    <body>
        <!-- include ./header/header.html -->
        <div style="display: none" id="log"></div>
        <main>
            <!-- slot -->
        </main>
        <footer style="height: 12rem" class="p-8"></footer>
        <script src="/static/bootstrap.min.js"></script>
        <script defer src="/static/alpine.min.js"></script>
        <script type="module" src="/components/index.js"></script>
        <!-- include ./base.personal.html -->
    </body>
</html>
