<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <%~ include('./favicon.html') %> <%~ include('./meta.html') %>
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <style>
      main {
        margin-top: 3rem;
      }

      .pointer {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%~ include('/templates/header/header.html') %>
    <main><%~ it.body %></main>
    <script src="/static/bootstrap.min.js"></script>
    <script defer src="/static/alpine.min.js"></script>
  </body>
</html>
