<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <!-- include ./favicon.html -->
        <!-- include ./meta.html -->
        <style>
            html {
                background: rgb(33, 37, 41);
            }
        </style>
    </head>
    <body>
        <!-- include ./header/header-landing.html -->
        <main>
            <!-- slot -->
        </main>
        <footer style="height: 12rem" class="p-8"></footer>
        <!-- include ./js.html -->
        <!-- include ./base.personal.html -->
    </body>
</html>
