<style>
    .card-body {
        --bs-card-spacer-x: 0.5rem;
        --bs-card-spacer-y: 0.5rem;
        white-space: wrap;
        line-break: anywhere;
        min-height: 62px;
    }

    main {
        margin-top: 3rem;
    }

    .pointer {
        cursor: pointer;
    }

    .svg-attach {
        background: url('/static/svg/attach.svg') center center no-repeat;
        background-size: cover;
    }

    .svg-description {
        background: url('/static/svg/description.svg') center center no-repeat;
        background-size: cover;
    }

    .svg-folder {
        background: url('/static/svg/folder.svg') center center no-repeat;
        background-size: cover;
    }

    .svg-photo_camera {
        background: url('/static/svg/photo_camera.svg') center center no-repeat;
        background-size: cover;
    }

    .svg-upload_file {
        background: url('/static/svg/upload_file.svg') center center no-repeat;
        background-size: cover;
    }

    .svg-videocam {
        background: url('/static/svg/videocam.svg') center center no-repeat;
        background-size: cover;
    }

    .svg-music_note {
        background: url('/static/svg/music_note.svg') center center no-repeat;
        background-size: cover;
    }

    .svg-image {
        background: url('/static/svg/image.svg') center center no-repeat;
        background-size: cover;
    }

    .clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Limit to 2 lines */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .media-holder {
        max-height: 90vh;
        max-width: 90vw;
    }
</style>
