<!-- layout /templates/base.html -->
<script type="module">
    async function getFilesFromParams() {
        const paths = getUrlParam('paths');
        const hmac = getUrlParam('hmac');
        const result = await fetch(`/api/share-file/list?paths=${paths}&hmac=${hmac}`);
        return await result.json();
    }

    function buildDownloadHref(index) {
        const paths = getUrlParam('paths');
        const hmac = getUrlParam('hmac');
        return `/api/share-file/download?paths=${paths}&hmac=${hmac}&index=${index}`;
    }

    const files = await getFilesFromParams();

    const list = document.getElementById('file-list');
    for (let idx = 0; idx < files.length; ++idx) {
        const file = files[idx];
        const fileRow = document.getElementById('file-row').content.cloneNode(true);
        const link = fileRow.querySelector('a');

        link.text = file;
        link.href = buildDownloadHref(idx);

        list.appendChild(fileRow);
    }
</script>
<app-main>
    <app-header>Shared Files</app-header>
    <p>
        <b>Instructions:</b> This is the share link, by copying the URL and giving it to a friend,
        you are able to share this view with them. They can only access what is shown here.
    </p>
    <ul id="file-list">
        <template id="file-row">
            <li><a></a></li>
        </template>
    </ul>
</app-main>
