<%~ include('./url-params.partial.html') %>
<script>
  const defaultPageSize = 120;

  function mapDateStrToDate(entries) {
    for (const entry of entries) {
      entry.date = new Date(entry.date);
    }
  }

  async function getFiles(rootPath) {
    const response = await fetch(`/api/directory?path=${rootPath}`);
    if (response.status === 200) {
      const result = await response.json();
      mapDateStrToDate(result);
      if (rootPath === ".") {
        return result;
      }
      const resultWithParent = [
        {
          name: "..",
          isDirectory: true,
        },
      ].concat(result);
      return resultWithParent;
    }
    return [];
  }

  function paginate(array, page, pageSize = defaultPageSize) {
    const startIndex = (page - 1) * pageSize;
    const endIndex = startIndex + pageSize;
    return array.slice(startIndex, endIndex);
  }

  function getNumPages(array, pageSize = defaultPageSize) {
    return Math.ceil(array.length / pageSize);
  }

  function sortedBy(
    files,
    sorting,
    directoriesFirst,
    page,
    pageSize = defaultPageSize
  ) {
    const copy = JSON.parse(JSON.stringify(files));
    mapDateStrToDate(copy);

    const sortingFunction =
      sorting === "oldest"
        ? (a, b) => a.date - b.date
        : sorting === "newest"
        ? (a, b) => b.date - a.date
        : sorting === "a-z"
        ? (a, b) =>
            a.name.localeCompare(b.name, "en", { sensitivity: "accent" })
        : sorting === "z-a"
        ? (a, b) =>
            -a.name.localeCompare(b.name, "en", { sensitivity: "accent" })
        : () => {};

    copy.sort(sortingFunction);
    if (directoriesFirst) {
      const directoryFirstSorter = (a, b) =>
        a.isDirectory && !b.isDirectory
          ? -1
          : !a.isDirectory && b.isDirectory
          ? 1
          : 0;
      copy.sort(directoryFirstSorter);
    }

    return paginate(copy, page);
  }

  function getCurrentPath() {
    return getUrlParam("path", ".");
  }

  function calculatePath(root, fileName) {
    if (fileName === "..") {
      const l = "".lastI;
      const lastIndex = root.lastIndexOf("/");
      if (lastIndex === -1) {
        return root;
      }
      return root.substring(0, lastIndex);
    } else {
      return encodeURIComponent(`${root}/${fileName}`);
    }
  }

  function getCurrentPage() {
    return Number.parseInt(getUrlParam("page", "1"));
  }

  function setCurrentPage(pageNum) {
    setUrlParam("page", `${pageNum}`);
    return pageNum;
  }

  function lowerPageNumberByOne(page) {
    if (page === 1) {
      return page;
    }
    setCurrentPage(page - 1);
    return page - 1;
  }

  function increasePageNumberByOne(array, page) {
    if (page === getNumPages(array)) {
      return page;
    }
    setCurrentPage(page + 1);
    return page + 1;
  }
</script>
