<!-- layout /templates/base.html -->
<app-main>
    <script type="module">
        const manifestId = getUrlParam('id', '');

        const megaphone = new Megaphone();
        const state = megaphone.declareState({
            //downloadManifest: megaphone.jsonApi(`/api/download/manifest?id=${manifestId}`, {}),
            //filesToDownload: megaphone.view((state) => state.downloadManifest.files || []),
            filesToDownload: [{ name: 'hello.txt' }],
        });

        megaphone.renderEach(
            state.filesToDownload,
            '#download-list',
            megaphone.template('#file-download-row', (clone, file) => {
                clone.querySelector('span').innerHTML = file.name;
                clone.querySelector('button').addEventListener('click', () => {
                    console.log(`DOWNLOADING ${file.name}`);
                });
                return clone;
            })
        );
        megaphone.init();
    </script>
    <section>
        <ol id="download-list"></ol>
    </section>
    <template id="file-download-row">
        <li>
            <span></span>
            <button>Download</button>
        </li>
    </template>
    <section id="downloader"></section>
</app-main>
