<!-- layout /templates/base.html -->
<app-main>
    <script type="module">
        const manifestId = getUrlParam('id', '');

        const megaphone = new Megaphone();
        const state = megaphone.declareState({
            downloadManifest: megaphone.jsonApi(`/api/download/manifest?id=${manifestId}`, {}),
            filesToDownload: megaphone.view((state) => state.downloadManifest.files || []),
        });

        megaphone.renderEach(
            state.filesToDownload,
            '#download-list',
            megaphone.template('#file-download-row', (clone, file, idx) => {
                clone.querySelector('span').innerHTML = file.name;
                if (file.isFile) {
                    clone.querySelector('a').href =
                        `/api/download/file?manifestId=${manifestId}&fileIndex=${idx}`;
                } else if (file.isDirectory) {
                    clone.querySelector('a').href =
                        `/api/download/directory?manifestId=${manifestId}&fileIndex=${idx}`;
                }

                clone.querySelector('button').addEventListener('click', () => {
                    console.log(`DOWNLOADING ${file.directoryPath}/${file.name}`);
                });
                return clone;
            })
        );
        megaphone.init();
    </script>
    <section>
        <ol id="download-list"></ol>
    </section>
    <template id="file-download-row">
        <li>
            <span></span>
            <a target="_black"><button>Download</button></a>
        </li>
    </template>
    <section id="downloader"></section>
</app-main>
