<!-- layout /templates/base.html -->
<app-main>
    <script type="module">
        const megaphone = new Megaphone();
        const state = megaphone.declareState({
            logs: megaphone.jsonApi(
                '/api/logs',
                { logs: [] },
                {
                    view: (dl) => dl.logs,
                }
            ),
        });

        megaphone.renderEach(
            state.logs,
            '#logs',
            megaphone.webComponent('log-drop-down', (log) => ({
                header: log.name,
                text: log.entries.map((x) => x.join(' ')).join('\n'),
            }))
        );

        megaphone.init();
    </script>
    <app-header>Logs</app-header>
    <section id="logs"></section>
</app-main>
