<!-- layout /templates/base.html -->
<app-header>Upload</app-header>
<app-main>
    <script type="module">
        const worker = new Worker('uploader.js');

        worker.onmessage = async (e) => {
            if (e.type === 'message') {
                const data = JSON.parse(e.data);
                if (data.type === 'uploaded') {
                    const authToken = data.authToken;
                    await fetch('/api/upload/commit', {
                        method: 'POST',
                        body: JSON.stringify({ token: authToken }),
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    });
                    const element = document.querySelector(`*[data-authToken="${authToken}"]`);
                    element.querySelector('.upload-checkmark').textContent = '✅';
                    element.querySelector('.bytes-uploaded').textContent =
                        element.querySelector('.bytes-total').textContent;
                } else if (data.type === 'progress') {
                    const authToken = data.authToken;
                    const element = document.querySelector(`*[data-authToken="${authToken}"]`);
                    element.querySelector('.bytes-uploaded').textContent = formatBytes(
                        data.totalBytesSent
                    );
                }
            }
        };

        async function upload() {
            const fileInput = document.querySelector('#file');
            const files = fileInput.files;
            console.log('INITIATING UPLOAD OF', files);
            fileInput.value = '';
            state.names = [];
            for (const file of files) {
                const bookingResponse = await fetch('/api/upload/book', {
                    method: 'POST',
                    body: JSON.stringify({
                        directory: state.uploadDirectory.value,
                        fileName: file.name,
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
                const booking = await bookingResponse.json();
                console.log('GOT booking', booking);
                const liClone = document
                    .querySelector('#uploading-item-template')
                    .content.cloneNode(true);
                liClone.querySelector('li').setAttribute('data-authToken', booking.authToken);
                liClone.querySelector('.upload-name').textContent = file.name;
                liClone.querySelector('.bytes-uploaded').textContent = '0 Bytes';
                liClone.querySelector('.bytes-total').textContent = formatBytes(file.size);
                document.querySelector('#uploading-items').appendChild(liClone);
                worker.postMessage(
                    JSON.stringify({
                        type: 'auth-token',
                        authToken: booking.authToken,
                    })
                );
                const stream = file.stream();
                worker.postMessage(stream, {
                    transfer: [stream],
                });
            }
        }

        function clickHiddenFileBrowseButton(evt) {
            document.getElementById('file').click();
        }

        function getFilenamesFromEvent(evt) {
            const result = [];
            for (const file of evt.target.files) {
                result.push(file.name);
            }
            state.names = result;
        }

        const megaphone = new Megaphone();
        const state = megaphone.declareState({
            uploadDirectory: megaphone.urlParam('path'),
            names: [],
            getFilenamesFromEvent,
            clickHiddenFileBrowseButton,
            uploadDisabled: megaphone.view((state) =>
                state.names.length === 0 ? true : undefined
            ),
            upload,
        });

        megaphone.renderEach(
            state.names,
            '#upload-name-display',
            megaphone.template('#upload-name-template', (clone, name) => {
                clone.querySelector('span').innerText = name;
                return clone;
            })
        );

        megaphone.init();
    </script>
    <p>Uploaded files will be put in the directory: <span $textContent="uploadDirectory"></span></p>
    <p>Do not close this tab! Any ongoing upload will fail if this tab is closed.</p>
    <input
        style="display: none"
        @change="getFilenamesFromEvent"
        type="file"
        id="file"
        name="file"
        multiple
    />
    <div class="action-buttons">
        <button @click="clickHiddenFileBrowseButton" id="browseButton" type="button">
            <svg class="medium-icon">
                <use href="/static/svg/sprite_sheet.svg#attach"></use>
            </svg>
        </button>
        <button @click="upload" $disabled="uploadDisabled" type="button">
            <svg class="medium-icon">
                <use href="/static/svg/sprite_sheet.svg#upload_file"></use>
            </svg>
        </button>
    </div>
    <ul id="upload-name-display">
        <template id="upload-name-template">
            <li><span></span></li>
        </template>
    </ul>
    <ul id="uploading-items">
        <template id="uploading-item-template">
            <li>
                <span class="upload-checkmark"></span>
                <span class="upload-name"></span> |
                <span class="bytes-uploaded"></span>
                /
                <span class="bytes-total"></span>
            </li>
        </template>
    </ul>
</app-main>
