<!-- layout /templates/base.html -->
<app-main>
    <script type="module">
        const megaphone = new Megaphone();

        function onCrumbClick(evt) {
            const { detail } = evt;
            console.log('EVT', detail);
            const { trail, index } = detail;
            const elements = trail.split('/');
            const selectedLocation = elements.slice(0, index + 1).join('/');
            const webPath = `/home/?path=${selectedLocation}`;
            window.location.href = webPath;
        }

        const state = megaphone.declareState({
            src: megaphone.urlParam('path', '.'),
            onCrumbClick,
        });

        megaphone.render(
            state.src,
            '#media-holder',
            megaphone.webComponent('media-viewer', (src) => ({
                src,
            }))
        );

        megaphone.init();
    </script>
    <breadcrumb-nav $trail="src" @crumb-click="onCrumbClick"></breadcrumb-nav>
    <horizontal-ruler></horizontal-ruler>
    <article id="media-holder"></article>
</app-main>
