<!-- layout /templates/base.html -->
<app-main>
    <script type="module">
        const megaphone = new Megaphone();
        const state = megaphone.declareState({
            commands: megaphone.jsonApi('/api/custom-commands', [], {
                view: (commands) =>
                    commands.map((cmd, idx) => ({
                        ...cmd,
                        idx,
                    })),
            }),
            message: megaphone.urlParam('message', null),
        });

        megaphone.renderEach(
            state.commands,
            '#command-list',
            megaphone.webComponent('cli-command', (command) => ({
                command: JSON.stringify(command),
                action: '/api/custom-commands/run',
                method: 'POST',
            }))
        );

        megaphone.renderIf(
            state.message,
            '#output-display',
            megaphone.template('#success-display', (clone, message) => {
                clone.querySelector('pre').textContent = message;
                return clone;
            })
        );

        megaphone.init();
    </script>
    <app-header>Commands</app-header>
    <section id="command-list"></section>
    <section id="output-display">
        <template id="success-display">
            <horizontal-ruler></horizontal-ruler>
            <div>
                <p>Output:</p>
                <pre></pre>
            </div>
        </template>
    </section>
</app-main>
