<form class="m-2">
  <div class="col">
    <%~ include('./sort-radio-img.partial.html', { value: 'newest', svgWebpath:
    '/static/svg/child.svg' }) %>
    <!-- -->
    <%~ include('./sort-radio-img.partial.html', { value: 'oldest', svgWebpath:
    '/static/svg/elderly.svg' }) %>
    <!-- -->
    <%~ include('./sort-radio.partial.html', { value: 'a-z', displayValue:
    'A-Z'}) %>
    <!-- -->
    <%~ include('./sort-radio.partial.html', { value: 'z-a', displayValue:
    'Z-A'}) %>
  </div>
</form>
