<form class="m-2">
  <div class="col">
    <div class="row">
      <div class="col col-sm-auto">
        <!-- include ./sort-radio.newest.partial.html -->
        <!-- include ./sort-radio.oldest.partial.html -->
        <!-- include ./sort-radio.a-z.partial.html -->
        <!-- include ./sort-radio.z-a.partial.html -->
      </div>
      <div class="col">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="switchCheckChecked"
            x-bind:checked="directoriesFirst"
            @change="directoriesFirst = setLocalStorage('show-directories-first', !directoriesFirst)"
          />
          <label class="form-check-label" for="switchCheckChecked"
            >Directories always first</label
          >
        </div>
      </div>
    </div>
  </div>
</form>
