<column-layout id="action-panel">
    <drop-down>
        <p slot="header">Quick Buttons</p>
        <form id="link-form" action="/api/link" method="POST" style="display: none">
            <input id="link-paths" name="paths" type="hidden" />
        </form>
        <form id="paste-form" action="/api/file/move" method="POST" style="display: none">
            <input id="files-to-move" name="files-to-move" type="hidden" />
            <input id="destination" name="destination" type="hidden" />
        </form>
        <div class="form-row action-buttons">
            <button +click="createFileShare" type="button">
                <svg class="medium-icon">
                    <use href="/static/svg/sprite_sheet.svg#share"></use>
                </svg>
            </button>
        </div>
        <horizontal-row></horizontal-row>
        <div class="form-row action-buttons">
            </button>
            <button +click="cutFiles" type="button">
                <svg class="medium-icon">
                    <use href="/static/svg/sprite_sheet.svg#content_cut"></use>
                </svg>
            </button>
            <button +click="pasteFiles" type="button">
                <svg class="medium-icon">
                    <use href="/static/svg/sprite_sheet.svg#content_paste"></use>
                </svg>
            </button>
            <button type="button" +click="resetCuttingBoard">
                <svg class="medium-icon">
                    <use href="/static/svg/sprite_sheet.svg#undo"></use>
                </svg>
            </button>
        </div>
        <horizontal-row></horizontal-row>
        <!-- include ./upload-form.partial.html -->
    </drop-down>
    <drop-down>
        <p slot="header">Rename</p>
        <form action="/api/file/rename" method="POST" id="rename-form">
            <input id="source" name="source" type="hidden" />
            <div class="form-column">
                <p>Select a single file to rename, input the new name of the file, then submit.</p>
            </div>
            <div class="form-column">
                <label for="target">New Name of File</label>
                <input id="target" name="target" type="text" />
            </div>
            <div class="form-column">
                <button +click="renameFile" type="button">Rename</button>
            </div>
        </form>
    </drop-down>
    <drop-down>
        <p slot="header">Make Directory</p>
        <form id="make-directory-form" action="/api/directory/make" method="POST">
            <input type="hidden" name="path" id="make-directory-path" />
            <div class="form-column">
                <label for="name">Directory Name</label>
                <input type="text" name="name" id="name" />
            </div>
            <div class="form-column">
                <button +click="makeDirectory" type="button">Create Directory</button>
            </div>
        </form>
    </drop-down>
</column-layout>
