<script>
  function updatePath(root, folder) {
    if (folder === "..") {
      return popFolder(root);
    }
    return `${root}/${folder}`;
  }

  function popFolder(root) {
    const lastSlashIndex = root.lastIndexOf("/");
    if (lastSlashIndex === -1) {
      return root;
    } else {
      return root.substring(0, lastSlashIndex);
    }
  }

  function getCssClassesForFileImage(file) {
    return 'card-img-top ' + resolveSvgClassForFile(file)
  }
</script>
<template x-if="file.isDirectory">
  <a class="text-decoration-none" x-bind:href="`/home/?path=${calculatePath(root, file.name)}`">
    <img height="125" class="card-img-top" src="/static/svg/folder.svg"></img>
    <div class="card-body">
      <span class="card-text clamp-2" x-text="`${file.name}/`"></span>  
    </div>
  </a>
</template>
<template x-if="file.isFile && isMediaFile(file.name)">
  <a
    class="text-decoration-none"
    x-bind:href="`/home/media/view?path=${encodeURIComponent(root + '/' + file.name)}`"
  >
    <div x-data="{ imgSrc: resolveSvgLocationForFile(file) }">
      <img height="125"
          class="card-img-top" 
          x-bind:src="imgSrc"
          @load="tryPrefetchThumbnail(root, file).then(src => imgSrc = src).catch(() => {})"></img>
    </div>
    <div class="card-body pointer">
      <span class="card-text clamp-2" x-text="resolveEmojiForMediaFile(file.name) + ' ' + file.name"></span>
    </div>
  </a>
</template>
<template x-if="file.isFile && !isMediaFile(file.name)">
  <a
    class="text-decoration-none"
    x-bind:href="`/api/file?path=${encodeURIComponent(root + '/' + file.name)}`"
    x-bind:download="file.name"
  >
    <img height="125" class="card-img-top" src="/static/svg/description.svg"></img>
    <div class="card-body pointer">
      <span class="card-text clamp-2" x-text="file.name"></span>
    </div>
  </a>
</template>
