<script>
    function getLinkTo(file) {
        const currentPath = decodeURIComponent(getCurrentPath());
        const path = calculatePath(currentPath, file.name);
        return `/home/?path=${path}`;
    }

    function getCheckedFiles() {
        const clickedFiles = [];
        for (const element of document.querySelectorAll('.file-to-cut')) {
            if (element.checked) {
                clickedFiles.push(element.value);
            }
            element.checked = false;
        }
        return clickedFiles;
    }

    function cutFiles() {
        const myPath = getCurrentPath();
        const clickedFiles = getCheckedFiles();
        const filesToStore = clickedFiles.map((elem) => ({
            path: myPath,
            fileName: elem,
        }));
        if (filesToStore.length > 0) {
            storeToCuttingBoard(filesToStore);
        }
    }

    function pasteFiles() {
        const path = decodeURIComponent(getCurrentPath());
        const board = getCuttingBoard();
        resetCuttingBoard();
        document.getElementById('files-to-move').value = JSON.stringify(board);
        document.getElementById('destination').value = path;
        document.getElementById('paste-form').submit();
    }

    function createFileShare() {
        const myPath = getCurrentPath();
        const paths = getCheckedFiles().map((x) => `${myPath}/${x}`);
        document.getElementById('link-paths').value = JSON.stringify(paths);
        document.getElementById('link-form').submit();
    }
</script>
<!-- include ./upload-form.partial.html -->
<div id="action-panel">
    <div class="form-row">
        <button
            @click="cutFiles(); filesDisplay = getCuttingBoardDisplay(); filesToGrey = findFilesToGrey()"
            type="button"
        >
            <svg class="medium-icon">
                <use href="/static/svg/sprite_sheet.svg#content_cut"></use>
            </svg>
        </button>
        <form id="paste-form" action="/api/file/move" method="POST" style="display: none">
            <input id="files-to-move" name="files-to-move" type="hidden"></input>
            <input id="destination" name="destination" type="hidden"></input>
        </form>
        <button @click="pasteFiles()" type="button">
            <svg class="medium-icon">
                <use href="/static/svg/sprite_sheet.svg#content_paste"></use>
            </svg>
        </button>
        <button
            type="button"
            @click="resetCuttingBoard(); filesDisplay = getCuttingBoardDisplay(); filesToGrey = []"
        >
            <svg class="medium-icon">
                <use href="/static/svg/sprite_sheet.svg#undo"></use>
            </svg>
        </button>
        <form id="link-form" action="/api/link" method="POST" style="display: none">
            <input id="link-paths" name="paths" type="hidden" />
        </form>
        <button @click="createFileShare();" type="button">
            <svg class="medium-icon">
                <use href="/static/svg/sprite_sheet.svg#share"></use>
            </svg>
        </button>
    </div>
    <div class="form-row full-width">
        <drop-down>
            <p>Hello</p>
            <p>Hello</p>
            <p>Hello</p>
            <p>Hello</p>
            <p>Hello</p>
        </drop-down>
    </div>
    <p x-text="filesDisplay"></p>
</div>
<section class="file-list">
    <template
        x-for="(file, idx) in sortedBy(files, sorting, directoriesFirst, currentPage)"
        :key="file.name"
    >
        <div class="file-row">
            <div>
                <input class="file-to-cut" type="checkbox" x-bind:value="file.name" />
                <label x-bind:for="file.name"></label>
            </div>
            <svg class="small-icon">
                <use
                    x-bind:href="`/static/svg/sprite_sheet.svg#${resolveSvgLocationForFile(file)}`"
                ></use>
            </svg>
            <div>
                <template x-if="file.isDirectory">
                    <a x-bind:href="getLinkTo(file)">
                        <span
                            x-bind:class="filesToGrey.includes(file.name) ? 'text-muted' : ''"
                            x-text="file.name"
                        ></span>
                    </a>
                </template>
                <template x-if="!file.isDirectory">
                    <span
                        x-text="file.name"
                        x-bind:class="filesToGrey.includes(file.name) ? 'text-muted' : ''"
                    ></span>
                </template>
            </div>
        </div>
    </template>
</section>
