<section id="file-list" class="file-list">
    <template id="file-row-entry">
        <div class="file-row">
            <label>
                <input class="file-to-cut" type="checkbox" />
            </label>

            <icon-hover>
                <svg class="small-icon">
                    <use></use>
                </svg>
            </icon-hover>
            <div class="file-row-text">
                <template id="directory-row">
                    <a>
                        <span></span>
                    </a>
                </template>
                <template id="file-row">
                    <span></span>
                </template>
            </div>
        </div>
    </template>
</section>
