<script>
  function updatePath(root, folder) {
    if (folder === "..") {
      return popFolder(root);
    }
    return `${root}/${folder}`;
  }

  function popFolder(root) {
    const lastSlashIndex = root.lastIndexOf("/");
    if (lastSlashIndex === -1) {
      return root;
    } else {
      return root.substring(0, lastSlashIndex);
    }
  }

  function isSoundFile(file) {
    return file.endsWith(".mp3");
  }

  function isImageFile(file) {
    return file.endsWith(".png");
  }

  function isMovieFile(file) {
    return file.endsWith(".mp4") || file.endsWith(".m4v");
  }

  function isMediaFile(file) {
    return isSoundFile(file) || isImageFile(file) || isMovieFile(file);
  }

  function resolveEmojiForMediaFile(file) {
    if (isSoundFile(file)) {
      return "🎵";
    } else if (isImageFile(file)) {
      return "📷";
    } else if (isMovieFile(file)) {
      return "📽️";
    }
  }

  function resolveSvgLocationForFile(file) {
    if (isSoundFile(file.name)) {
      return "/static/svg/music_note.svg";
    } else if (isImageFile(file.name)) {
      return "/static/svg/photo_camera.svg";
    } else if (isMovieFile(file.name)) {
      return "/static/svg/videocam.svg";
    }
  }

  function getCssClassesForFileImage(file) {
    return 'card-img-top ' + resolveSvgClassForFile(file)
  }

  function getFileImageSource(root, file) {
    if (isMovieFile(file.name)) {
      return `/api/thumbnail?path=${encodeURIComponent(root + '/' + file.name)}`
    }
    return ''
  }

  async function tryPrefetchThumbnail(root, file) {
    const imageSource = getFileImageSource(root, file)
    if (!imageSource) {
      throw new Error('No thumbnail to load from')
    }
    const result = await fetch(imageSource)
    if (!result.ok) {
      throw new Error('Unable to load thumbnail correctly')
    }
    return imageSource
  }

</script>
<template x-if="file.isDirectory">
  <a class="text-decoration-none" x-bind:href="`/home/?path=${calculatePath(root, file.name)}`">
    <img height="125" class="card-img-top" src="/static/svg/folder.svg"></img>
    <div class="card-body">
      <span class="card-text" x-text="`${file.name}/`"></span>  
    </div>
  </a>
</template>
<template x-if="file.isFile && isMediaFile(file.name)">
  <a
    class="text-decoration-none"
    x-bind:href="`/home/media/view?path=${encodeURIComponent(root + '/' + file.name)}`"
  >
    <div x-data="{ imgSrc: resolveSvgLocationForFile(file) }">
      <img height="125"
          class="card-img-top" 
          x-bind:src="imgSrc"
          @load="tryPrefetchThumbnail(root, file).then(src => imgSrc = src).catch(() => {})"></img>

    </div>
      
    <div class="card-body pointer text-truncate">
      <span x-text="resolveEmojiForMediaFile(file.name) + ' '"></span
      ><span class="card-text" x-text="file.name"></span>
    </div>
  </a>
</template>
<template x-if="file.isFile && !isMediaFile(file.name)">
  <a
    class="text-decoration-none"
    x-bind:href="`/api/file?path=${encodeURIComponent(root + '/' + file.name)}`"
    x-bind:download="file.name"
  >
    <img height="125" class="card-img-top" src="/static/svg/description.svg"></img>
    <div class="card-body pointer text-truncate">
      <span class="card-text" x-text="file.name"></span>
    </div>
  </a>
</template>
