<script>
    function navigateToHomePath(path, index) {
        const elements = path.split('/');
        const selectedLocation = elements.slice(0, index + 1).join('/');
        const webPath = `/home/?path=${selectedLocation}`;
        window.location.href = webPath;
    }
</script>
<section class="gallery">
    <template
        x-for="(file) in sortedBy(files, sorting, directoriesFirst, currentPage)"
        :key="file.name"
    >
        <file-card
            x-bind:filename="file.name"
            x-bind:file-type="file.fileType"
            x-bind:image-src="file.imageSrc"
            x-bind:root="root"
        ></file-card>
    </template>
</section>
