<!-- layout /templates/base.html -->
<!-- include /shared/file-api.partial.html -->
<!-- include /shared/local-storage.partial.html -->
<app-main
    x-data="{
        isGalleryMode: getSessionStorage('gallery-mode', true)
     }"
>
    <div class="row">
        <switch-control
            x-bind:checked="isGalleryMode"
            @change="evt => isGalleryMode = setSessionStorage('gallery-mode', !isGalleryMode)"
        >
            Gallery
        </switch-control>
    </div>
    <div x-show="isGalleryMode">
        <!-- include ./gallery.partial.html -->
    </div>
    <div x-show="!isGalleryMode">
        <!-- include ./file-manager.partial.html -->
    </div>
</app-main>
