<!-- layout /templates/base.html -->
<app-main>
    <script>
        function mapDateStrToDate(entries) {
            for (const entry of entries) {
                entry.date = new Date(entry.date);
            }
        }

        async function getFiles(rootPath) {
            const response = await fetch(`/api/directory?path=${rootPath}`);
            if (response.status === 200) {
                const result = await response.json();
                mapDateStrToDate(result);
                if (rootPath === '.') {
                    return result;
                }
                const resultWithParent = [
                    {
                        name: '..',
                        isDirectory: true,
                        fileType: 'directory',
                        imageSrc: 'folder',
                    },
                ].concat(result);
                return resultWithParent;
            }
            return [];
        }

        function paginate(array, page, pageSize) {
            const startIndex = (page - 1) * pageSize;
            const endIndex = startIndex + pageSize;
            return array.slice(startIndex, endIndex);
        }

        function getNumPages(array, pageSize) {
            return Math.ceil(array.length / pageSize);
        }

        function sortedBy(files, sorting, directoriesFirst, page, pageSize) {
            const copy = JSON.parse(JSON.stringify(files));
            mapDateStrToDate(copy);

            const sortingFunction =
                sorting === 'oldest'
                    ? (a, b) => a.date - b.date
                    : sorting === 'newest'
                    ? (a, b) => b.date - a.date
                    : sorting === 'a-z'
                    ? (a, b) => a.name.localeCompare(b.name, 'en', { sensitivity: 'accent' })
                    : sorting === 'z-a'
                    ? (a, b) => -a.name.localeCompare(b.name, 'en', { sensitivity: 'accent' })
                    : () => {};

            copy.sort(sortingFunction);
            if (directoriesFirst) {
                const directoryFirstSorter = (a, b) =>
                    a.isDirectory && !b.isDirectory ? -1 : !a.isDirectory && b.isDirectory ? 1 : 0;
                copy.sort(directoryFirstSorter);
            }

            return paginate(copy, page, pageSize);
        }

        function getCurrentPath() {
            return getUrlParam('path', '.');
        }

        function calculatePath(root, fileName) {
            if (fileName === '..') {
                const l = ''.lastI;
                const lastIndex = root.lastIndexOf('/');
                if (lastIndex === -1) {
                    return root;
                }
                return root.substring(0, lastIndex);
            } else {
                return encodeURIComponent(`${root}/${fileName}`);
            }
        }

        function getCurrentPage() {
            return Number.parseInt(getUrlParam('page', '1'));
        }

        function setCurrentPage(pageNum) {
            setUrlParam('page', `${pageNum}`);
            return pageNum;
        }

        function isSoundFile(file) {
            return file.endsWith('.mp3');
        }

        function isImageFile(file) {
            // LINK-FILE-EXTENSIONS
            return [
                '.png',
                '.jpg',
                '.jpeg',
                '.tiff',
                '.webp',
                '.gif',
                '.avif',
                '.bmp',
                '.ico',
                '.psd',
            ].some((x) => file.endsWith(x));
        }

        function isMovieFile(file) {
            return ['.mp4', '.m4v', '.mov', '.avi', '.webm', '.mkv', '.mpg'].some((x) =>
                file.endsWith(x)
            );
        }

        function isMediaFile(file) {
            return isSoundFile(file) || isImageFile(file) || isMovieFile(file);
        }

        function resolveSvgLocationForFile(file) {
            if (isSoundFile(file.name)) {
                return 'music_note';
            } else if (isImageFile(file.name)) {
                return 'photo_camera';
            } else if (isMovieFile(file.name)) {
                return 'videocam';
            } else if (file.isDirectory) {
                return 'folder';
            } else {
                return 'description';
            }
        }

        function getFileImageSource(root, file) {
            if (isMovieFile(file.name) || (isImageFile(file.name) && !file.name.endsWith('.gif'))) {
                return `/api/thumbnail?path=${encodeURIComponent(root + '/' + file.name)}`;
            }
            return '';
        }

        function storeToCuttingBoard(files) {
            return setSessionStorage('cutting-board', files);
        }

        function getCuttingBoard() {
            return getSessionStorage('cutting-board', []);
        }

        function resetCuttingBoard() {
            storeToCuttingBoard([]);
        }

        function navigateToHomePath(path, index) {
            const elements = path.split('/');
            const selectedLocation = elements.slice(0, index + 1).join('/');
            const webPath = `/home/?path=${selectedLocation}`;
            window.location.href = webPath;
        }

        function getLinkTo(file) {
            const currentPath = decodeURIComponent(getCurrentPath());
            const path = calculatePath(currentPath, file.name);
            return `/home/?path=${path}`;
        }

        function getCheckedFiles() {
            const clickedFiles = [];
            for (const element of document.querySelectorAll('.file-to-cut')) {
                if (element.checked) {
                    clickedFiles.push(element.value);
                }
                element.checked = false;
            }
            return clickedFiles;
        }

        function cutFiles() {
            const myPath = getCurrentPath();
            const clickedFiles = getCheckedFiles();
            const filesToStore = clickedFiles.map((elem) => ({
                path: myPath,
                fileName: elem,
            }));
            if (filesToStore.length > 0) {
                storeToCuttingBoard(filesToStore);
            }
        }

        function pasteFiles() {
            const path = decodeURIComponent(getCurrentPath());
            const board = getCuttingBoard();
            resetCuttingBoard();
            document.getElementById('files-to-move').value = JSON.stringify(board);
            document.getElementById('destination').value = path;
            document.getElementById('paste-form').submit();
        }

        function deleteFiles() {
            const myPath = getCurrentPath();
            const clickedFiles = getCheckedFiles();
            const filesToRemove = clickedFiles.map((elem) => ({
                path: myPath,
                fileName: elem,
            }));
            document.getElementById('files-to-remove').value = JSON.stringify(filesToRemove);
            document.getElementById('delete-form').submit();
        }

        function createFileShare() {
            const myPath = getCurrentPath();
            const paths = getCheckedFiles().map((x) => `${myPath}/${x}`);
            document.getElementById('link-paths').value = JSON.stringify(paths);
            document.getElementById('link-form').submit();
        }

        function renameFile() {
            const myPath = getCurrentPath();
            const checkedFiles = getCheckedFiles();
            if (checkedFiles.length === 0) {
                return;
            }
            const elementToRename = checkedFiles[0];
            const renameForm = document.getElementById('rename-form');
            document.getElementById('source').value = `${myPath}/${elementToRename}`;
            renameForm.submit();
        }

        function makeDirectory() {
            const myPath = getCurrentPath();
            document.getElementById('make-directory-path').value = myPath;
            document.getElementById('make-directory-form').submit();
        }
    </script>
    <script type="module">
        function onGalleryModeChange(evt) {
            state.galleryMode = evt.detail.checked;
        }

        function onCrumbClick(evt) {
            navigateToHomePath(evt.detail.trail, evt.detail.index);
        }

        function onSortDirectoriesFirstChange(evt) {
            state.directoriesFirst = evt.detail.checked;
        }

        function createSortingSetter(value) {
            return () => {
                state.sorting = value;
            };
        }

        function onPageShift(evt) {
            state.currentPage = evt.detail.page;
        }

        function generatePageSizeUpdater(value) {
            return () => {
                state.pageSize = value;
            };
        }

        const megaphone = new Megaphone();
        const currentPath = getCurrentPath();
        const state = megaphone.declareState({
            pageSize: megaphone.localStorage('default-page-size', 100),
            currentPath,
            galleryMode: megaphone.sessionStorage('gallery-mode', true),
            galleryVisibility: megaphone.view((state) => (state.galleryMode ? 'show' : 'hidden')),
            fileManagerVisibility: megaphone.view((state) =>
                state.galleryMode ? 'hidden' : 'show'
            ),
            files: [],
            maxPages: megaphone.view((state) => getNumPages(state.files, state.pageSize)),
            sorting: megaphone.localStorage('file-sort-order', 'newest'),
            directoriesFirst: megaphone.localStorage('show-directories-first', true),
            currentPage: getCurrentPage(),
            sortedFiles: megaphone.view((state) =>
                sortedBy(
                    state.files,
                    state.sorting,
                    state.directoriesFirst,
                    state.currentPage,
                    state.pageSize
                )
            ),

            sortingByNewest: megaphone.view((state) => state.sorting === 'newest'),
            sortingByOldest: megaphone.view((state) => state.sorting === 'oldest'),
            sortingByAtoZ: megaphone.view((state) => state.sorting === 'a-z'),
            sortingByZtoA: megaphone.view((state) => state.sorting === 'z-a'),
            sortByNewest: createSortingSetter('newest'),
            sortByOldest: createSortingSetter('oldest'),
            sortByAtoZ: createSortingSetter('a-z'),
            sortByZtoA: createSortingSetter('z-a'),

            setPageSizeTo20: generatePageSizeUpdater(20),
            setPageSizeTo50: generatePageSizeUpdater(50),
            setPageSizeTo100: generatePageSizeUpdater(100),
            setPageSizeTo250: generatePageSizeUpdater(250),
            setPageSizeTo1000: generatePageSizeUpdater(1000),

            pageSizeIs20: megaphone.view((state) => state.pageSize === 20),
            pageSizeIs50: megaphone.view((state) => state.pageSize === 50),
            pageSizeIs100: megaphone.view((state) => state.pageSize === 100),
            pageSizeIs250: megaphone.view((state) => state.pageSize === 250),
            pageSizeIs1000: megaphone.view((state) => state.pageSize === 1000),

            onSortDirectoriesFirstChange,
            onGalleryModeChange,
            onCrumbClick,
            onPageShift,
            pasteFiles,
            cutFiles,
            resetCuttingBoard,
            createFileShare,
            renameFile,
            makeDirectory,
            deleteFiles,
        });

        megaphone.renderEach(
            state.sortedFiles,
            '#gallery',
            megaphone.webComponent('file-card', (file) => ({
                filename: file.name,
                'file-type': file.fileType,
                'image-src': file.imageSrc,
                root: currentPath,
            }))
        );

        megaphone.renderEach(state.sortedFiles, '#file-list', (file) => {
            const clone = document.querySelector('#file-row-entry').content.cloneNode(true);
            clone.querySelector('input').value = file.name;
            clone
                .querySelector('use')
                .setAttribute(
                    'href',
                    `/static/svg/sprite_sheet.svg#${resolveSvgLocationForFile(file)}`
                );
            const imageSource = getFileImageSource(currentPath, file);
            const iconHover = clone.querySelector('icon-hover');
            if (file.isFile) {
                iconHover.setAttribute('url', imageSource);
            } else if (file.isDirectory) {
                iconHover.setAttribute('disabled', 'true');
            }

            if (file.isDirectory) {
                const textRow = clone.querySelector('#directory-row').content.cloneNode(true);
                textRow.querySelector('a').setAttribute('href', getLinkTo(file));
                textRow.querySelector('span').innerText = file.name;
                clone.querySelector('div.file-row-text').appendChild(textRow);
            } else {
                const textRow = clone.querySelector('#file-row').content.cloneNode(true);
                textRow.querySelector('span').innerText = file.name;
                clone.querySelector('div.file-row-text').appendChild(textRow);
            }

            return clone;
        });

        megaphone.init();

        state.files = await getFiles(currentPath);
    </script>
    <app-header>
        <breadcrumb-nav
            slot="ender"
            $trail="currentPath"
            @crumb-click="onCrumbClick"
        ></breadcrumb-nav>
    </app-header>
    <horizontal-ruler></horizontal-ruler>
    <paginate-control
        $page="currentPage"
        $max-pages="maxPages"
        @page-shift="onPageShift"
    ></paginate-control>

    <div $data-visibility="galleryVisibility">
        <section id="gallery" class="gallery"></section>
    </div>
    <div $data-visibility="fileManagerVisibility">
        <!-- include ./file-manager.partial.html -->
    </div>
    <paginate-control
        $page="currentPage"
        $max-pages="maxPages"
        @page-shift="onPageShift"
    ></paginate-control>
    <horizontal-ruler></horizontal-ruler>
    <drop-down>
        <p slot="header">View options</p>
        <!-- include ./control-panel.partial.html -->
    </drop-down>

    <div $data-visibility="fileManagerVisibility">
        <!-- include ./file-manager-footer.partial.html -->
    </div>
</app-main>
