<nav>
    <ul class="pagination">
        <li class="page-item">
            <a
                href="#"
                @click="currentPage = lowerPageNumberByOne(currentPage)"
                x-bind:class="currentPage === 1 ? 'page-link disabled' : 'page-link'"
                >&lt;</a
            >
        </li>
        <template x-for="(idx) in Array.from({ length: getNumPages(files) }, (_, i) => i + 1)">
            <li class="page-item">
                <a
                    href="#"
                    x-text="idx"
                    @click="setCurrentPage(idx); currentPage = idx"
                    x-bind:class="currentPage === idx ? 'page-link disabled' : 'page-link'"
                ></a>
            </li>
        </template>
        <li class="page-item">
            <a
                href="#"
                @click="currentPage = increasePageNumberByOne(files, currentPage)"
                x-bind:class="currentPage === getNumPages(files) ? 'page-link disabled' : 'page-link'"
                >&gt;</a
            >
        </li>
    </ul>
</nav>
