<form x-data="{ names: [] }" action="/api/file/upload" method="POST" enctype="multipart/form-data">
    <div class="form-row">
        <input
            style="display: none"
            @change="names = getFilenamesFromEvent(event)"
            type="file"
            id="file"
            name="file"
        />
        <button @click="document.getElementById('file').click()" id="browseButton">
            <svg class="medium-icon">
                <use href="/static/svg/sprite_sheet.svg#attach"></use>
            </svg>
        </button>
        <button x-bind:disabled="names.length === 0" type="submit">
            <svg class="medium-icon">
                <use href="/static/svg/sprite_sheet.svg#upload_file"></use>
            </svg>
        </button>
    </div>
    <div>
        <template x-for="name in names">
            <div x-text="name"></div>
        </template>
    </div>
    <input type="hidden" id="directory" name="directory" />
    <script>
        function getFilenamesFromEvent(evt) {
            const result = [];
            for (const file of evt.target.files) {
                result.push(file.name);
            }
            return result;
        }

        document.getElementById('directory').value = decodeURIComponent(getCurrentPath());
    </script>
</form>
