<% layout('/templates/base.html') %>
<section class="container">
  <%~ include('/shared/file-api.partial.html') %>
  <script>
    function sort(files) {
      console.log(files);
      const result = sortedBy(files, "a-z", true);
      console.log(result);
      return result;
    }

    function getLinkTo(file) {
      const currentPath = decodeURIComponent(getCurrentPath());
      console.log(currentPath, file.name);

      const path = encodeURIComponent(`${currentPath}/${file.name}`);
      return `/file-manager/?path=${path}`;
    }
  </script>
  <h1>File Manager</h1>
  <div x-data="{ files: [] }">
    <div x-effect="files = await getFiles(getCurrentPath())"></div>
    <form>
      <table class="file-explorer-table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="file of sort(files)">
            <tr>
              <td>
                <div class="form-check">
                  <template x-if="!file.isDirectory">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      x-bind:value="file.name"
                    />
                    <label
                      class="form-check-label"
                      x-bind:for="file.name"
                    ></label>
                  </template>
                </div>
              </td>
              <td>
                <div class="px-2">
                  <template x-if="file.isDirectory">
                    <a x-bind:href="getLinkTo(file)">
                      <span x-text="file.name"></span>
                    </a>
                  </template>
                  <template x-if="!file.isDirectory">
                    <span x-text="file.name"></span>
                  </template>
                </div>
              </td>
              <td>
                <span x-text="file.isDirectory ? 'Directory' : 'File'"></span>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </form>
    <div
      id="control-panel"
      class="fixed-bottom bg-dark border-top p-3 text-center"
    >
      <button class="btn btn-secondary mr-4">
        <img width="32" src="/static/svg/content_cut.svg" />
      </button>
      <button class="btn btn-secondary">
        <img width="32" src="/static/svg/content_paste.svg" />
      </button>
    </div>
  </div>
</section>
