<% layout('/templates/base.html') %>
<section class="container">
  <%~ include('/shared/file-api.partial.html') %>
  <!-- -->
  <%~ include('/shared/local-storage.partial.html') %>
  <script>
    function sort(files) {
      return sortedBy(files, "newest", true, 1, Number.MAX_VALUE);
    }

    function getLinkTo(file) {
      const currentPath = decodeURIComponent(getCurrentPath());
      const path = calculatePath(currentPath, file.name);
      return `/file-manager/?path=${path}`;
    }

    function cutFiles() {
      const myPath = getCurrentPath();
      const clickedFiles = [];
      for (const element of document.querySelectorAll(".file-to-cut")) {
        if (element.checked) {
          clickedFiles.push(element.value);
        }
        element.checked = false;
      }
      const filesToStore = clickedFiles.map((elem) => ({
        path: myPath,
        fileName: elem,
      }));
      if (filesToStore.length > 0) {
        storeToCuttingBoard(filesToStore);
      }
    }

    function storeToCuttingBoard(files) {
      return setSessionStorage("cutting-board", files);
    }

    function getCuttingBoard() {
      return getSessionStorage("cutting-board", []);
    }

    function getCuttingBoardDisplay() {
      return `${getCuttingBoard().length} files in cutting board`;
    }

    function resetCuttingBoard() {
      storeToCuttingBoard([]);
    }

    function fileInCuttingBoard(file) {
      const myPath = decodeURIComponent(getCurrentPath());
      return getCuttingBoard().some(
        (x) => x.path === myPath && x.fileName === file.name
      );
    }

    function findFilesToGrey() {
      const myPath = decodeURIComponent(getCurrentPath());
      return getCuttingBoard()
        .filter((x) => x.path === myPath)
        .map((x) => x.fileName);
    }

    function pasteFiles() {
      const path = decodeURIComponent(getCurrentPath());
      const board = getCuttingBoard();
      resetCuttingBoard();
      console.log(board);
      document.getElementById("files-to-move").value = JSON.stringify(board);
      document.getElementById("destination").value = path;
      document.getElementById("paste-form").submit();
    }
  </script>
  <h1>File Manager</h1>
  <%~ include('./upload-form.partial.html') %>
  <div
    x-data="{ files: [], filesDisplay: getCuttingBoardDisplay(), filesToGrey: [] }"
  >
    <div
      x-effect="files = sort(await getFiles(getCurrentPath())); filesToGrey = findFilesToGrey()"
    ></div>
    <form>
      <table class="file-explorer-table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="(file, idx) in files">
            <tr>
              <td>
                <div style="padding-top: 5px" class="form-check">
                  <input
                    class="form-check-input file-to-cut"
                    type="checkbox"
                    x-bind:value="file.name"
                  />
                  <label
                    class="form-check-label"
                    x-bind:for="file.name"
                  ></label>
                </div>
              </td>
              <td>
                <div>
                  <template x-if="isMediaFile(file.name) && !file.isDirectory">
                    <img
                      x-bind:src="resolveSvgLocationForFile(file)"
                      x-bind:id="'file' + idx"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover focus"
                      data-bs-html="true"
                      x-bind:title="file.name"
                      x-bind:data-bs-content='`<img width="250" src="${getFileImageSource(getCurrentPath(), file)}">`'
                      height="22"
                      x-effect="new bootstrap.Popover(document.querySelector('#file' + idx))"
                    />
                  </template>
                  <template x-if="!isMediaFile(file.name)">
                    <img
                      x-bind:src="resolveSvgLocationForFile(file)"
                      height="22"
                    />
                  </template>
                </div>
              </td>
              <td>
                <div class="px-2">
                  <template x-if="file.isDirectory">
                    <a x-bind:href="getLinkTo(file)">
                      <span
                        x-bind:class="filesToGrey.includes(file.name) ? 'text-muted' : ''"
                        x-text="file.name"
                      ></span>
                    </a>
                  </template>
                  <template x-if="!file.isDirectory">
                    <span
                      x-text="file.name"
                      x-bind:class="filesToGrey.includes(file.name) ? 'text-muted' : ''"
                    ></span>
                  </template>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </form>
    <div
      id="control-panel"
      class="fixed-bottom bg-dark border-top p-3 text-center"
    >
      <button class="btn btn-secondary">
        <img
          width="32"
          @click="cutFiles(); filesDisplay = getCuttingBoardDisplay(); filesToGrey = findFilesToGrey()"
          src="/static/svg/content_cut.svg"
        />
      </button>
      <form
        id="paste-form"
        action="/api/file/move"
        method="POST"
        style="display: none"
      >
        <input id="files-to-move" name="files-to-move" type="hidden" />
        <input id="destination" name="destination" type="hidden" />
      </form>
      <button class="btn btn-secondary">
        <img
          width="32"
          @click="pasteFiles()"
          src="/static/svg/content_paste.svg"
        />
      </button>
      <button class="btn btn-secondary">
        <img
          @click="resetCuttingBoard(); filesDisplay = getCuttingBoardDisplay(); filesToGrey = []"
          width="32"
          src="/static/svg/undo.svg"
        />
      </button>
      <p x-text="filesDisplay"></p>
    </div>
  </div>
</section>
