<% layout('/templates/base.html') %>
<section class="container">
  <%~ include('/shared/file-api.partial.html') %>
  <script>
    function sort(files) {
      console.log(files);
      const result = sortedBy(files, "a-z", true);
      console.log(result);
      return result;
    }
  </script>
  <h1>File Manager</h1>
  <div x-data="{ files: [] }">
    <div x-effect="files = await getFiles(getCurrentPath())"></div>
    <template x-for="file of sort(files)">
      <div class="row">
        <template x-if="file.isDirectory">
          <div class="col">
            <p>Link to <span x-text="file.name"></span></p>
          </div>
        </template>
        <template x-if="file.isFile">
          <div class="col">
            <p>File <span x-text="file.name"></span></p>
          </div>
        </template>
      </div>

      <ul>
        <li><p x-text="file.name"></p></li>
      </ul>
    </template>
  </div>
</section>
