<!-- layout ./templates/base-landing.html -->
<app-main>
    <app-header>Friendly File Server (FFS)</app-header>
    <form method="POST" action="/api/user-logon">
        <div class="form-column">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" />
        </div>
        <div class="form-column">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
        </div>
        <div class="form-column">
            <button class="hero-button" type="submit">Log on</button>
        </div>
    </form>
</app-main>
