<!-- layout /templates/base.html -->
<app-main>
    <script type="module">
        const megaphone = new Megaphone();
        const state = megaphone.declareState({
            dlLogs: megaphone.jsonApi('/api/logs', { logs: [] }),
            logs: megaphone.view((state) => state.dlLogs.logs),
        });

        megaphone.renderEach(
            state.logs,
            '#logs',
            megaphone.template('#log', (clone, log) => {
                clone.querySelector('h2').innerText = log.name;

                const logLines = log.entries.map((x) => x.join(' ')).join('\n');
                clone.querySelector('pre').innerText = logLines;

                return clone;
            })
        );

        megaphone.init();
    </script>
    <app-header>Logs</app-header>
    <section id="logs">
        <template id="log">
            <drop-down>
                <h2 slot="header"></h2>
                <pre></pre>
            </drop-down>
        </template>
    </section>
</app-main>
