<!-- layout /templates/base.html -->
<app-main>
    <script type="module">
        async function getLogs() {
            const result = await fetch('/api/logs');
            return (await result.json()).logs;
        }

        const megaphone = new Megaphone();
        const state = megaphone.declareState({
            logs: [],
        });

        megaphone.renderEach(state.logs, '#logs', (log) => {
            const clone = document.querySelector('#log').content.cloneNode(true);
            clone.querySelector('h2').innerText = log.name;
            const entries = log.entries;
            const logLines = entries.map((x) => x.join(' ')).join('\n');
            clone.querySelector('pre').innerText = logLines;

            return clone;
        });

        megaphone.init();
        state.logs = await getLogs();
    </script>
    <app-header>Logs</app-header>
    <section id="logs">
        <template id="log">
            <drop-down>
                <h2 slot="header"></h2>
                <pre></pre>
            </drop-down>
        </template>
    </section>
</app-main>
