<!DOCTYPE html>
<html>
    <head>
        <!-- include ./favicon.html -->
        <!-- include ./meta.html -->
        <!-- include ./styles.html -->
    </head>
    <body>
        <!-- include ./js-utils.html -->
        <!-- include ./megaphone-js.html -->
        <!-- include ./header/header-landing.html -->
        <!-- slot -->
        <footer style="height: 12rem" class="p-8"></footer>
        <!-- include ./js-libs.html -->
        <!-- include ./base.personal.html -->
    </body>
</html>
