<!-- layout ./base-header.html -->
<header-nav-select>
    <option value="/home/">Files</option>
    <option value="/custom-commands/">Commands</option>
    <option value="/share-file/">Share</option>
    <option value="/logs/">Logs</option>
</header-nav-select>
<header-tab href="/home/">Files</header-tab>
<header-tab href="/custom-commands/">Commands</header-tab>
<header-tab href="/share-file/">Share</header-tab>
<header-tab href="/logs/">Logs</header-tab>
<!-- include ./links-added-by-plugins.html -->
