<div class="container">
    <div class="row">
        <p>Example:</p>
    </div>
    <div class="row">
        <div class="col-12">
            <p
                class="bg-dark text-light p-3 rounded border border-secondary"
                style="font-family: monospace; white-space: pre-wrap"
                x-text="formatCommand(commands, idx)"
            ></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul>
                <template
                    x-for="argIdx in Array.from({ length: commands[idx].cmd.nargs }, (_, i) => i)"
                >
                    <li>
                        <label x-text="`${'$' + (argIdx + 1)}: `"></label>
                        <input x-model="commands[idx].args[argIdx]" type="text" />
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input @click="console.log(commands)" type="submit" value="Submit" />
        </div>
    </div>
</div>
