<!-- layout /templates/base.html -->
<section>
    <div class="container" x-data="{ commands: [] }">
        <script>
            async function getCommands() {
                const result = await fetch('/api/custom-commands');
                return await result.json();
            }

            function formatCommand(commands, idx) {
                const cmd = commands[idx];
                return `${cmd['program']} ${cmd['args'].join(' ')}`;
            }
        </script>
        <div x-effect="commands = await getCommands();"></div>
        <h1>Commands</h1>
        <template x-for="idx in Array.from({ length: commands.length }, (_, i) => i)">
            <!-- include ./custom-command.partial.html -->
        </template>
    </div>
</section>
